@keyframes cambiandoColor {
  0% {
    color: $fondoRojo;
  }
  20% {
    color: $FondoAzul;
  }
  40% {
    color: $fondoAzulClaro;
  }
  60% {
    color: $fondoVioleta;
  }
  80% {
    color: $fondoVerde;
  }
  100% {
    color: $amarillo;
  }
}
@keyframes moviendoLetras {
  0% {
    transform: rotatex(10deg);
  }
  20% {
    transform: rotatex(-10deg);
  }
  40% {
    transform: rotatex(20deg);
  }
  60% {
    transform: rotatex(-20deg);
  }
  80% {
    transform: rotatex(20deg);
  }
  100% {
    transform: rotatex(-20deg);
  }
}
