footer {
  margin-top: 5rem;
  background-image: url(/assets/fondo2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.subir {
  width: 50px;
  margin-left: 1rem;
}
