$fondoRojo: #ff0000;
$FondoAzul: #2c3fea;
$fondoAzulClaro: #2ca1d7;
$fondoVioleta: #7b1fa2;
$fondoVioletadeg: #7b1fa269;
$fondoVerde: #12d552;
$amarillo: #94a21f;
$gradiente: linear-gradient(
  90deg,
  rgba(44, 161, 215, 1) 0%,
  rgba(44, 63, 234, 1) 100%
);

$logoFont: "Ubuntu", sans-serif;
$titleYsubsFont: "Comic Neue", cursive;
$parapFont: "Varela Round", sans-serif;

$fontSizeLogo: 8rem;
$fontSizeLogodos: 10rem;
$fonth2: 2.8rem;
$fonth3: 2.4rem;
$fontsizePar: 2rem;
$enlacenav: 1.6rem;

$fontweigth: bold;
